section
  button ✖
  ul(style="--length: 5")
    li(style="--i: 1") Home
    li(style="--i: 2") About
    li(style="--i: 3") Portfolio
    li(style="--i: 4") Availabilities
    li(style="--i: 5") Contact