section
  button
    position absolute
    z-index 1
    right 0
    top 50%
    translate 0 -50%
    padding 2em
    border none
    background #F00
    &:active
      background #0FF

  ul
    position absolute
    top 0
    left 0
    width 100vw
    height 100vh
    margin 0
    padding 0 2em
    background #222
    color #FFF

    list-style none
    display flex
    width 100vw
    height 100vh
    flex-direction column
    justify-content center
    font-size 3em

    &.is-open
      li
        opacity 0
        rotate 10deg
        translate 0 10vh
        // NOTE: using (--length - --i) allows reverse the indexes order
        transition-duration calc(((var(--length) - var(--i)) * .1s) + .5s) 
        transition-delay calc((var(--length) - var(--i)) * .05s)

    li
      opacity 1
      translate 0
      rotate 0
      width 5em
      transition-property all
      // NOTE: using --i allows to avoid static nth-child
      transition-duration calc((var(--i) * .1s) + .5s)
      transition-delay calc(var(--i) * .05s)