body
  margin 0
  background #000

  .app
    main.matrix
      filter saturate(15) 

      display grid
      grid-template-columns repeat(10, 1fr)
      grid-template-rows repeat(10, 1fr)

      .square
        width 10vw
        height 10vw
        transition background 1s

  // .overlay
  //   position fixed
  //   z-index 1
  //   width 100vw
  //   height 100vh
  //   backdrop-filter blur(2em)